@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "brightRetro";
  src: url("./assets/bright-retro.otf") format("opentype");
}

@font-face {
  font-family: "gotham";
  src: url("./assets/GothamBook.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: #804e8f;
  color: #f6dea8;
}

body {
  background-color: #f6dea8;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-gotham text-primary text-lg leading-7 max-md:text-sm;
  }

  .title {
    @apply text-4xl font-bright-retro text-purple lg:text-8xl;
  }
}
